<!DOCTYPE html>
<html>
<head>
    <title>TEST HTML NODE JS</title>
</head>
<body>
    <h2>Salut tout le monde ;)</h2>
    <form method="POST" action="/process-data">
        <input type="email" name="email">
        <input type="submit" value="GO"/>
    </form>
</body>
</html>